body {
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
}

.navbar {
    margin-bottom: 20px;
}

@media print {

    .no-print,nav,.btn {
        display: none!important;
    }

    body {
        padding: 20px;
        font-size: 12pt;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th,td {
        border: 1px solid #ddd;
        padding: 8px;
    }

    th {
        background-color: #f2f2f2;
    }
}