.cont_authenticated{
    height: 100vh;
}
.data_container{
    display: flex;
    flex-direction: row;
    height: 80%;
}
.img_container{
    background-color: #FFBDBD;
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
}

.img_container > img{
    width: 210px;
    height: 210px;
    margin-top: 25px;
}
.datos_admin{
    position: relative;
    top: 10%;
    left: 12%;
    height: 0;
}